<!-- @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Ocisti.me</h2>
    <p>First Local Services Platform in Montenegro.</p>
</div> -->


@{
    ViewBag.Title = "Your Local Services";
}

<div class="container">
    <div class="content-wrapper">
        <div class="text-container">
            <header>
                <h1>Ocisti.me</h1>
            </header>
            <section class="content">
                <div class="text">
                    <h2>Your Trusted Source for Local Services</h2>
                    <p>Find reliable service providers in your area. <br> Whether you need cleaning, repairs, or other services, we've got you covered.</p>
                </div>
            </section>
        </div>
        <div class="button-container">
            <a href="/Search" class="button">Search</a>
        </div>
    </div>
</div>

